main {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  min-width: 100vh;
  min-height: 95vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main-layout {
  display: flex;
  flex: 9;
  border: 2px solid blue;
}

.song-tracker {
  display: flex;
  flex: 1;
  border: 2px solid green;
}

.sidebar {
  flex: 0.5;
  border: 1px solid pink;
}

.current-page {
  display: flex;
  flex: 9.5;
  border: 1px solid purple;
  flex-direction: column;
}

.source {
  display: flex;
  background-color: lightyellow;
  flex: 1;
  border: 1px solid brown;
}

.track-list {
  flex: 1;
  border: 1px solid black;
}

.info {
  flex: 1;
}

.material-icons.md-36 {
  font-size: 36px;
  padding: 5px;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 100%;
  padding: 0px;
}

ul.sidebar {
  margin: 0px;
  background-color: lightgray;
}

img {
  height: 200px;
  width: 200px;
  border-style: 1px solid black;
  margin: 20px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
