main {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  min-width: 100vh;
  min-height: 95vh;
}

.main-layout {
  display: flex;
  flex: 9;
  border: 2px solid blue;
}

.song-tracker {
  display: flex;
  flex: 1;
  border: 2px solid green;
}
